@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Doto:wght@100..900&family=Geist:wght@100..900&display=swap');

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
}

body,
html {
	height: 100%;
}

button,
input {
	all: unset;
  text-decoration: none;
}

* {
  font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
}